.idea/
*.log
**/__pycache__
# environmental tensors saved as numpy format
*.npy
*.pyc
# notebooks checkpoints
.ipynb_checkpoints/
.DS_Store
# datafiles and serialized models
/data
/models/experiments/*.pkl
/maximiliense/patch.jpg
